/*---color scheme----
#FFC300 //yellow
#FF5733 //orange
#2E4053 //dark blue??
*/


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  padding: 5px;
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

/* ---- Responsive Images ----*/
img {
  max-width: 40%;
  height: auto;
}

/* ----- Global Styles ---- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

/*--------header--------------*/
header.primary {
  background-color: #2E4053;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  /* Shorhand T,R,B,L*/
  padding: 6em 2em;
  position: relative;
}

header.primary::before{
  content: "";
  background-image: url("https://assets.codepen.io/7248/dragon-in-space.jpg");
  background-size: cover;
  position: absolute;
  top: 5px;
  right: 0px;
  bottom: 5px;
  left: 0px;
  opacity: 0.4;
}

header.primary h1 {
  font-size: 3.2rem;
  color:#FF5733;
  margin: 20px 0;
  position: relative;
}

header.primary h2 {
  font-size: 20px;
  text-decoration:underline;
  color:#FFC300;
  margin: 20px auto 40px;
  position: relative;
}

/*------navagation header-------*/
header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(142, 166, 184, 0.4);
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.4s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(0,0,0, 0.8);
}

#content{
  border: 4px dashed #c0c0c0;
  padding-bottom: 1.5em;
}

#content p{
  line-height:1.2em;
  padding:10px 10px;
}

#content h2{
  color:#FF5733;
  padding:10px 10px;
}

/*--------table--------*/
table{
  margin-left: auto;
  margin-right: auto;
  width:50%;
  border: 1px solid #c0c0c0;
  border-collaspe:collapse;
}

table caption {
  color:#FFC300;
  border-bottom:1px solid #FFC300;
  text-align:left;
  padding: 10px 10px;
  margin:10px auto;
  font-weight:bold;
  font-size:1.4rem;
}

table td{
  border: 1px solid #c0c0c0;
  padding:5px;
}

table tr:nth-child(even){
  background: rgba(0,0,0,.1)
}

table tr:hover{
   background: rgba(0,0,0,.2)
}

table th{
  background-color:#2E4053;
  color:#fff;
  width:33%;
  padding:10px;
}



/*------footer--------*/
footer#colophon{
  background-color:#FF5733;
}

#colophon h6{
  padding:20px;
  margin:auto;
  color:#fff;
  text-align:center;
  font-size:.8rem;
  text-transform:uppercase;
}

#df figcaption{
  text-align:center;
  font-size:.4rem;
}

@media screen and (max-width:690px) {
  header.primary nav ul{
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
}